<a href="https://colab.research.google.com/github/TubaSid/ADM-HW2/blob/main/ADMHW2_inprogress.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [RQ3]
Letâ€™s have a historical look at the dataset!

Write a function that takes as input a year and returns as output the following information:

1.   The number of books published that year.
2.   The total number of pages written that year.
3. The most prolific month of that year.
4. The longest book written that year.

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### Loading a chunck of 10 thousand rows to have information of the data in the dataset

In [ ]:
# Define the file path and chunk size
file_path = "/home/ec2-user/"
chunk_size = 10000  # Adjust the chunk size as needed

# Iterate through the file in chunks
booksDf_org = pd.read_json(file_path+'lighter_books.json', lines=True, nrows=10000)

In [ ]:
booksDf_org.head()

,id,title,authors,author_name,author_id,work_id,isbn,isbn13,asin,language,...,format,edition_information,image_url,publisher,num_pages,series_id,series_name,series_position,shelves,description
0,2,Harry Potter and the Order of the Phoenix (Har...,"[{'id': '1077326', 'name': 'J.K. Rowling', 'ro...",J.K. Rowling,1077326,2809203,0439358078,9780439358071,,eng,...,Paperback,US Edition,https://i.gr-assets.com/images/S/compressed.ph...,Scholastic Inc.,870,45175,Harry Potter,5,"[{'name': 'to-read', 'count': 324191}, {'name'...",There is a door at the end of a silent corrido...
1,3,Harry Potter and the Sorcerer's Stone (Harry P...,"[{'id': '1077326', 'name': 'J.K. Rowling', 'ro...",J.K. Rowling,1077326,4640799,,,,eng,...,Hardcover,Library Edition,https://i.gr-assets.com/images/S/compressed.ph...,Scholastic Inc,309,45175,Harry Potter,1,"[{'name': 'fantasy', 'count': 63540}, {'name':...",Harry Potter's life is miserable. His parents ...
2,4,Harry Potter and the Chamber of Secrets (Harry...,None,J.K. Rowling,1077326,6231171,0439554896,9780439554893,,eng,...,Hardcover,,https://i.gr-assets.com/images/S/compressed.ph...,Scholastic,352,45175,Harry Potter,2,"[{'name': 'to-read', 'count': 282341}, {'name'...",The Dursleys were so mean and hideous that sum...
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,"[{'id': '1077326', 'name': 'J.K. Rowling', 'ro...",J.K. Rowling,1077326,2402163,043965548X,9780439655484,,eng,...,Mass Market Paperback,,https://i.gr-assets.com/images/S/compressed.ph...,Scholastic Inc.,435,45175,Harry Potter,3,"[{'name': 'to-read', 'count': 292815}, {'name'...","For twelve long years, the dread fortress of A..."
4,6,Harry Potter and the Goblet of Fire (Harry Pot...,"[{'id': '1077326', 'name': 'J.K. Rowling', 'ro...",J.K. Rowling,1077326,3046572,,,,eng,...,Paperback,First Scholastic Trade Paperback Edition,https://i.gr-assets.com/images/S/compressed.ph...,Scholastic,734,45175,Harry Potter,4,"[{'name': 'to-read', 'count': 287086}, {'name'...",Harry Potter is midway through his training as...

In [ ]:
booksDf_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         9999 non-null   int64
 1   title                      9999 non-null   object
 2   authors                    3742 non-null   object
 3   author_name                9999 non-null   object
 4   author_id                  9999 non-null   int64
 5   work_id                    9999 non-null   int64
 6   isbn                       9999 non-null   object
 7   isbn13                     9999 non-null   object
 8   asin                       9999 non-null   object
 9   language                   9999 non-null   object
 10  average_rating             9999 non-null   float64
 11  rating_dist                9999 non-null   object
 12  ratings_count              9999 non-null   int64
 13  text_reviews_count         9999 non-null   int64
 14  publication_date           9999 non-null   object
 15  original_publication_date  9999 non-null   object
 16  format                     9999 non-null   object
 17  edition_information        9999 non-null   object
 18  image_url                  9999 non-null   object
 19  publisher                  9999 non-null   object
 20  num_pages                  9999 non-null   object
 21  series_id                  9999 non-null   object
 22  series_name                9999 non-null   object
 23  series_position            9999 non-null   object
 24  shelves                    9999 non-null   object
 25  description                9999 non-null   object
dtypes: float64(1), int64(5), object(20)
memory usage: 2.0+ MB

In [ ]:
columns = ['title', 'author_name', 'language', 'average_rating', 'publication_date', 'num_pages', 'original_publication_date']
booksDfcleaned = booksDf_org[columns]
booksDf = booksDfcleaned

In [ ]:
booksDf.head()

,title,author_name,language,average_rating,publication_date,num_pages,original_publication_date
0,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,eng,4.50,2004-09,870,2003-06-21
1,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,eng,4.48,2003-11-01,309,1997-06-26
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,eng,4.43,2003-11-01,352,1998-07-02
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,eng,4.57,2004-05-01,435,1999-07-08
4,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,eng,4.56,2002-09-28,734,2000-07-08

In [ ]:
def historical_look(year):
    yearDf = booksDf[booksDf['original_publication_date'].str[:4].astype(int) == year]

    # The number of books published that year
    totalBooks = yearDf.shape[0]

    # The total number of pages written that year
    # Replace empty strings with a default value (0) and then convert to integers
    yearDf.num_pages= yearDf.num_pages.replace('', '0').astype(int)
    totalPages = yearDf.num_pages.sum()

    # The most prolific month of that year
    df_months = yearDf.original_publication_date.str[5:7].astype(int)
    monthCount = df_months.value_counts() #counting no. of months
    maxOccurance = monthCount.max()
    prolificMonth = monthCount[monthCount == maxOccurance]
    prolificMonth = prolificMonth.index.values.tolist()

    # The longest book written that year
    maxPages = yearDf.num_pages.max()
    longestBook = yearDf[yearDf['num_pages'] == maxPages]['title'].values[0]

    return totalBooks, totalPages, prolificMonth, longestBook

In [ ]:
date_pattern = r'^\d{4}-\d{2}-\d{2}$'
booksDf = booksDf[booksDf['original_publication_date'].str.match(date_pattern, na=False)]
booksDf.original_publication_date.replace('', '0', inplace = True)
booksDf['publication_year'] = booksDf.original_publication_date.str[:4].astype(int)

In [ ]:
booksDf

,title,author_name,language,average_rating,publication_date,num_pages,original_publication_date,publication_year
0,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,eng,4.50,2004-09,870,2003-06-21,2003
1,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,eng,4.48,2003-11-01,309,1997-06-26,1997
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,eng,4.43,2003-11-01,352,1998-07-02,1998
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,eng,4.57,2004-05-01,435,1999-07-08,1999
4,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,eng,4.56,2002-09-28,734,2000-07-08,2000
...,...,...,...,...,...,...,...,...
9988,"Spellbound Xanth (Xanth, #7-9)",Piers Anthony,,4.23,1986-10,952,1986-10-01,1986
9990,Thousandstar,Piers Anthony,,3.68,,,1980-01-01,1980
9991,"Fractal Mode (Mode, #2)",Piers Anthony,eng,3.64,1992-12-01,344,1992-01-09,1992
9992,"Castle Roogna (Xanth, #3)",Piers Anthony,,3.89,1986-03-12,329,1979-01-01,1979
9997,"The Magic Fart (Pornucopia, #2)",Piers Anthony,,3.40,2003-08-31,188,2003-08-31,2003

Use this function to build your data frame: the primary key will be a year, and the required information will be the attributes within the row. Finally, show the head and the tail of this new data frame considering the first ten years registered and the last ten years.

In [ ]:
# Dataframe with yearwise totalBooks, totalPages, prolificMonth, longestBook
columns = ['totalBooks', 'totalPages', 'prolificMonth', 'longestBook']
uniqueYears = booksDf.publication_year.unique().tolist()
yearwiseList = list(map(historical_look, uniqueYears))
yearwiseDf = pd.DataFrame(yearwiseList, columns=columns)
yearwiseDf['year'] = uniqueYears

In [ ]:
print('Yearwise Dataframe head: ')
yearwiseDf.head(10)

Yearwise Dataframe head:

,totalBooks,totalPages,prolificMonth,longestBook,year
0,265,70908,[9],"Harry Potter Boxed Set, Books 1-5 (Harry Potte...",2003
1,141,39033,[1],Crime Novels: American Noir of the 1950s,1997
2,154,42756,[1],"A Clash of Kings (A Song of Ice and Fire, #2)",1998
3,175,50211,[4],The Great Book of Amber (The Chronicles of Amb...,1999
4,182,51800,[1],The History of the Lord of the Rings (The Hist...,2000
5,358,90760,[1],"Harry Potter Collection (Harry Potter, #1-6)",2005
6,22,6049,"[10, 1]",The Executioner's Song,1979
7,104,28636,[1],The Grapes of Wrath and Other Writings 1936â€“19...,1996
8,78,19442,[1],What to Expect the First Year (What to Expect),1989
9,110,28437,[1],"S, M, L, XL",1995

In [ ]:
print('Yearwise Dataframe tail: ')
yearwiseDf.tail(10)

Yearwise Dataframe tail:

,totalBooks,totalPages,prolificMonth,longestBook,year
134,1,0,[2],Riders to the Sea,1904
135,9,3218,[3],The Scarlet Letter and Other Writings,1850
136,4,384,[1],En la ardiente oscuridad,1950
137,1,188,[3],The Gambler,1866
138,6,991,[4],The Turn of the Screw,1898
139,1,14,[1],Lewis Carroll's Jabberwocky: A Book of Brillig...,1872
140,4,2300,[11],The Red and the Black,1830
141,1,56,[1],The Book Of Wonder,1912
142,1,0,[9],The Complete Novels Of Jane Austen: Volume 2: ...,1814
143,5,2112,[10],Sense and Sensibility,1811

### Using LLM

In [ ]:
def historical_look_chatgpt(booksDf, year):
    # Convert year to a string for comparison
    year_str = str(year)

    # Convert the 'publication_date' column to strings
    booksDf['publication_date'] = booksDf['publication_date'].astype(str)

    # Filter the DataFrame to include only rows from the specified year
    year_books = booksDf[booksDf['publication_date'].str.startswith(year_str, na=False)]

    # Number of books published that year
    num_books = len(year_books)

    # Clean the 'num_pages' column - remove non-numeric characters
    year_books['num_pages'] = year_books['num_pages'].astype(str).str.replace(r'\D', '', regex=True)

    # Filter out rows with empty or invalid 'num_pages' values
    year_books = year_books[year_books['num_pages'].str.isnumeric()]
    year_books['num_pages'] = pd.to_numeric(year_books['num_pages'])

    # Check if there's data for the year
    if year_books.empty:
        return {
            "num_books_published": 0,
            "total_pages_written": 0,
            "most_prolific_month": None,
            "longest_book": None
        }

    # Total number of pages written that year
    total_pages = year_books['num_pages'].sum()

    # Find the most prolific month of that year, or None if there's no data
    prolific_month = year_books['publication_month'].value_counts().idxmax() if 'publication_month' in year_books else None

    # Find the longest book written that year, or None if there's no data
    longest_book = year_books.loc[year_books['num_pages'].idxmax()].to_dict() if not year_books.empty else None

    return {
        "num_books_published": num_books,
        "total_pages_written": total_pages,
        "most_prolific_month": prolific_month,
        "longest_book": longest_book['title'] if longest_book else None
    }

In [ ]:
# Assuming booksDf is your DataFrame
year = 2004  # Replace with the desired year
result = historical_look_chatgpt(booksDf, year)
print(result)

{'num_books_published': 398, 'total_pages_written': 115087, 'most_prolific_month': None, 'longest_book': 'Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)'}

In [ ]:
import pandas as pd

# Assuming you have the original booksDf DataFrame

# Define a list of years for which you want to compute the information
years_to_analyze = range(2003, 2023)  # Adjust the range as needed

# Initialize an empty list to store the data for each year
data_for_each_year = []

# Compute the information for each year and store it in the list
for year in years_to_analyze:
    result = historical_look_chatgpt(booksDf, year)
    data_for_each_year.append(result)

# Create a new DataFrame from the list
yearly_info_df = pd.DataFrame(data_for_each_year, index=years_to_analyze)

In [ ]:
print("Head of the DataFrame (First Ten Years):\n")
yearly_info_df.head(10)

Head of the DataFrame (First Ten Years):

,num_books_published,total_pages_written,most_prolific_month,longest_book
2003,335,103742,None,The Stand: Das letzte Gefecht
2004,398,115087,None,"Harry Potter Boxed Set, Books 1-5 (Harry Potte..."
2005,516,157751,None,"Harry Potter Collection (Harry Potter, #1-6)"
2006,644,201660,None,"The Sword of Truth, Boxed Set III: The Pillars..."
2007,132,41156,None,"World Without End (Kingsbridge, #2)"
2008,18,4883,None,Henry VIII: The King and His Court
2009,7,2288,None,Scandalous Risks
2010,10,3284,None,A Short History of Nearly Everything (Illustra...
2011,8,3563,None,George Washington's Sacred Fire
2012,7,2986,None,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...

In [ ]:
print("\nTail of the DataFrame (Last Ten Years):\n")
yearly_info_df.tail(10)